@media only screen and (min-width: 470px) {
  .track-image {
    width: 450px;
  }
}

@media only screen and (min-width: 600px) {
  .track-image {
    width: 450px;
  }
}

@media only screen and (min-width: 768px) {
  .track-image {
    width: 550px;
  }
}

@media only screen and (min-width: 992px) {
  .track-image {
    width: 585px;
  }
}

@media only screen and (min-width: 1200px) {
  .track-image {
    width: 585px;
  }
}

.track-image {
  box-shadow: 0 0 5px var(--black);
  padding: 0;
  object-fit: cover;
  border-radius: 16px;
  aspect-ratio: 7 / 4;
}
