.card-col {
  max-width: 18rem;
}

.game-card {
  width: 18rem; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.highlighted-word {
  font-weight: 600;
  color: var(--blue);
}

.button-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
