body {
  background: var(--black);
}

.hero-section {
  height: 100vh;
  width: 100%;
}

.page-circle-gradient-1,
.page-circle-gradient-2 {
  position: absolute;
  z-index: -1;
  pointer-events: none;
}

.page-circle-gradient-1 {
  top: 0;
  left: 0;
  height: 100%;
  width: 60%;
  background: radial-gradient(
    circle farthest-corner at -20% 30%,
    var(--radial-blue) 0%,
    var(--radial-black) 50%
  );
}

.page-circle-gradient-2 {
  right: 0;
  height: 100%;
  width: 60%;
  background: radial-gradient(
    circle farthest-corner at 110% 50%,
    var(--radial-blue) 0%,
    var(--radial-black) 40%
  );
}

.hero-container {
  position: relative;
}

/* Header animation */
.hero-header {
  font-size: 4.5rem;
  font-weight: 800;
  opacity: 0;
  transform: translateY(-10px);
  animation: fadeIn 1.25s ease-in-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-subheader {
  font-weight: 400;
  opacity: 0;
  transform: translateY(-10px);
  animation: fadeIn 1.25s ease-in-out forwards;
}

/* Button */
.btn-play-now {
  background: var(--blue);
  color: var(--lavender);
  border: none;
  width: auto;
  font-weight: 600;
  letter-spacing: 0.1rem;
  padding: 12px 24px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
}

.btn-play-now:hover {
  background: var(--radial-blue);
  color: var(--lavender);
  transform: scale(1.1);
}

.btn-play-now:active {
  transform: scale(0.95);
}

.position-relative .arrow-down {
  left: 120%;
  top: -70%;
  transform: rotate(50deg);
  width: 90px;
  height: 95px;
  filter: invert(17%) sepia(97%) saturate(4076%) hue-rotate(225deg)
    brightness(106%) contrast(105%);
}

@media (max-width: 992px) {
  .hero-header {
    font-size: 3rem;
  }
  .position-relative .arrow-down {
    left: 120%;
    top: -20%;
    width: 70px;
    height: 75px;
    transform: translateY(-30%) translateX(0) rotate(40deg);
  }
}

@media (max-width: 510px) {
  .page-circle-gradient-1 {
    top: -10%;
    left: -25%;
    height: 100%;
    width: 100%;
  }

  .page-circle-gradient-2 {
    top: 30%;
    right: 5%;
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 510px) {
  .page-circle-gradient-2 {
    top: 40%;
    right: -10%;
  }
}

@media (max-width: 768px) {
  .page-circle-gradient-2 {
    right: -5%;
    height: 100%;
    width: 50%;
  }

  .hero-header {
    font-size: 2.2rem;
  }

  .hero-subheader {
    font-size: 1.1rem;
  }

  .position-relative .arrow-down {
    left: 120%;
    top: 0;
    width: 50px;
    height: 55px;
    transform: translateY(-20%) translateX(0) rotate(40deg);
  }
}

@media (min-width: 992px) {
  .page-circle-gradient-1 {
    top: 0;
    left: 0;
    height: 100%;
    width: 60%;
  }

  .page-circle-gradient-2 {
    right: 0;
    height: 100%;
    width: 60%;
  }
}

.hero-image-div {
  box-shadow: 0 0 10px var(--blue);
  object-fit: cover;
  border-radius: 16px;
  max-width: 330px;
  max-height: 230px;
}
