
.sticky-nav-div {
    backdrop-filter: none;
    background-color: #0000;
    justify-content: center;
    align-items: center;
    max-width: none;
    display: flex;
    border-radius: 20px;
    margin-top: 16px;
    margin-left: 24px;
    margin-right: 24px;
    padding-left: 0;
    padding-right: 0;
    font-family: "Inter", sans-serif;
    position: fixed;
    inset: 0 0 auto;
    z-index: 10;
}

/* Navbar */
.navbar {
    background: #060c1899;
    backdrop-filter: blur(8px);
    max-width: 1440px;
    max-height: 80px;
    z-index: 10;
    object-fit: fill;
    border-radius: 8px;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 12px 24px;
    display: flex;
    position: relative;
}

.navbar-logo {
    width: 55px;
    height: 55px;
}

.navbar-brand-name {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    letter-spacing: 0.075rem;
    color: #dfe6f6;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    font-family: "Inter", sans-serif;
    font-style: normal;
    color: #dfe6f6;
}

.login-btn-wrapper {
    background: linear-gradient(90deg, var(--blue) 0%, var(--lavender) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    border-radius: 8px;
}

.login-btn {
    background: var(--black);
    padding: 8px 16px;
    border-radius: 8px;
    color: #dfe6f6;
}

.login-btn:hover {
    color: var(--black);
}
