body {
  background-color: var(--owhite);
  width: 100vw;
}

.page-container {
  margin: 0;
  padding: 0;
}

.hero-section {
  background: var(--lavender);
  height: 55vh;
  margin: 0;
  padding: 0;
}

.hero-col {
  position: relative;
  height: auto;
  margin-top: 30vh;
}

.hero-header {
  color: var(--blue);
  font-size: 4rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  opacity: 0;
  transform: translateY(-10px);
  animation: fadeIn 1s ease-in-out forwards;
}
@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.page-row {
    max-width: 100vw;
}
