body {
  background-color: var(--owhite);
  width: 100vw;
}

.page-container {
  margin: 0;
  padding: 0;
}

.content-column {
  max-width: 60vw;
}

.hero-row {
  background: var(--lavender);
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.hero-col {
  position: relative;
  height: auto;
  margin-top: 30vh;
  margin-bottom: 10vh;
  justify-content: center;
}

.content-row {
  margin-top: 5vh;
  justify-content: center;
}

h1 {
  color: var(--blue);
  font-size: 4rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  opacity: 0;
  transform: translateY(-10px);
  animation: fadeIn 1s ease-in-out forwards;
  text-align: center;
}

h2 {
  margin-top: 1rem;
}

h3 {
  margin-top: 2rem;
}

blockquote {
  padding: 0 1.5rem 0 1.5rem;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
