body {
  background: #F5F5F5;
}

.round-status {
  text-align: center;
  padding: 0;
  margin: 0;
}

.bi-circle {
  stroke: var(--bs-gray);
  stroke-width: 1.5;
}

.bi-circle-correct {
  stroke: var(--bs-success);
}

.bi-circle-wrong {
  stroke: var(--bs-danger);
}

.overview {
  color: #23252c;
  font-size: 1.5rem;
  margin: auto;
}

.overview-header {
  font-size: 2rem;
}
