{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  {{ user.name }}
{% endblock title %}
{% block content %}
  <div class="container content-container p-5 overflow-scroll">
    <div class="row justify-content-center">
      <div class="col">
        <a class="btn btn-outline-primary"
           href="{% url 'users:detail' user.pk %}"
           role="button">Back to profile</a>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-2">
        <img class="img-fluid user-avatar rounded-circle"
             src="{% if user.profile_picture %}{{ user.profile_picture.url }}{% else %}{% static 'profile_pics/profile_picture.jpg' %}{% endif %}"
             alt="User Image" />
      </div>
      <div class="col-sm-6 mt-5">
        <h2>{{ user.name }}</h2>
      </div>
    </div>
    <div class="row mt-4 justify-content-center">
      <div class="col-md-8">
        <form class="form-horizontal"
              method="post"
              action="{% url 'users:update' %}"
              enctype="multipart/form-data">
          {% csrf_token %}
          {{ form|crispy }}
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
