{% extends "../base.html" %}

{% load static i18n %}

{% block title %}
  Guess the racetrack
{% endblock title %}
{% block page_css %}
  <link href="{% static 'css/landing_page.css' %}" rel="stylesheet" />
  <link href="{% static 'css/navbar.css' %}" rel="stylesheet" />
  <link href="{% static 'css/footer.css' %}" rel="stylesheet" />
{% endblock page_css %}
{% block body %}
  <!-- Navbar -->
  {% include "landing_page/navbar.html" %}
  <main>
    <div class="container-fluid page-container">
      <!-- Hero Section -->
      <div class="row hero-section">
        <div class="page-circle-gradient-1"></div>
        <div class="page-circle-gradient-2"></div>
        <div class="hero-container container-fluid d-flex flex-column align-items-center">
          <div class="row hero-content">
            <h1 class="hero-header">Are you a real racing fan?</h1>
            <div class="row d-flex justify-content-center hero-subheader-row">
              <div class="col-auto">
                <div class="row">
                  <h4 class="hero-subheader">Test your track knowledge!</h4>
                </div>
                <div class="row justify-content-center mt-4">
                  <a href="{% url 'games:home' %}" class="btn btn-play-now">Play now</a>
                </div>
              </div>
              <div class="col-auto">
                <img class="arrow-down"
                     src="{% static 'images/icons/arrow.png' %}"
                     alt="Arrow down" />
              </div>
            </div>
          </div>
          <div class="row hero-images">
            <div class="col">
              <img class="hero-image-div"
                   src="{% static 'images/racetracks/suzuka.jpg' %}"
                   alt="Hero image of Suzuka Circuit" />
            </div>
            <div class="col">
              <img class="hero-image-div"
                   src="{% static 'images/racetracks/spa.jpg' %}"
                   alt="Hero image of Spa Francorchamps" />
            </div>
            <div class="col">
              <img class="hero-image-div"
                   src="{% static 'images/racetracks/monza.jpg' %}"
                   alt="Hero image of Monza Circuit" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  {% include "landing_page/footer.html" %}
{% endblock body %}
