{% load static i18n %}

<div class="sticky-nav-div ">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'landing_page' %}">
        <div class="d-flex align-items-center">
          <img class="navbar-logo me-3"
               src="{% static 'images/logos/logo.png' %}"
               alt="Guess The Race Track" />
          <span class="navbar-brand-name my-auto">Guess The Race Track</span>
        </div>
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">
          <li class="nav-item">
            <a href="#" class="me-lg-3 nav-link">Blog</a>
          </li>
          <li class="nav-item">
            <a href="#" class="me-lg-3 nav-link text-nowrap">Contact us</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'scores:leaderboard' %}" class="me-lg-3 nav-link">Leaderboard</a>
          </li>
        </ul>
      </div>
      <button class="navbar-toggler ms-auto"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="nav-item ms-3">
        <div class="login-btn-wrapper">
          <a href="{% url 'games:home' %}" class="btn login-btn">Login</a>
        </div>
      </div>
    </div>
  </nav>
</div>
