{% extends "../base.html" %}

{% load static i18n %}

{% block title %}
  Privacy Policy
{% endblock title %}
{% block page_css %}
  <link href="{% static 'css/privacy_policy.css' %}" rel="stylesheet" />
  <link href="{% static 'css/navbar.css' %}" rel="stylesheet" />
  <link href="{% static 'css/footer.css' %}" rel="stylesheet" />
{% endblock page_css %}
{% block body %}
  <!-- Navbar -->
  {% include "landing_page/navbar.html" %}
  <main>
    <div class="container-fluid page-container">
      <div class="row hero-row">
        <div class="col hero-col content-column">
          <h1>Privacy Policy</h1>
        </div>
      </div>
      <div class="row content-row">
        <div class="col content-column">
          <h2>1. Introduction</h2>
          <p>
            This privacy policy describes how your personal data is being processed when using
            this website. It also includes information about your rights.
          </p>
          <p>
            The data controller for all processing of personal data is William Holtsdalen, situated
            in Norway. As a data controller, he is responsible for processing the personal data in
            accordance with applicable personal data law, including the Norwegian Personal Data Act
            and the EU General Data Protection Regulation (hereafter “GDPR”).
          </p>
          <br />
          <h2>2. Categories of personal data</h2>
          <p>
            When using this website, different categories of your personal data are being processed.
            Personal data is defined in GDPR article 4 number 1 as:
          </p>
          <blockquote cite="https://gdpr-info.eu/art-4-gdpr/">
            any information relating to an identified or identifiable natural person (‘data
            subject’); an identifiable natural person is one who can be identified, directly or
            indirectly, in particular by reference to an identifier such as a name, an
            identification number, location data, an online identifier or to one or more factors
            specific to the physical, physiological, genetic, mental, economic, cultural or social
            identity of that natural person;
          </blockquote>
          <p>The different categories can be said to be the following:</p>
          <h3>2.1 Personal data collected from you when making an account</h3>
          <p>This includes:</p>
          <ul>
            <li>Email address</li>
            <li>First and last name</li>
            <li>Username and password</li>
          </ul>
          <p>
            The legal ground for processing these types of personal data is “consent” from you as a
            user, in accordance with GDPR article 6 (1) a. When using this legal ground you have the
            right to withdraw your consent at any given time. If you withdraw your consent, we have
            a duty to delete your account in accordance with GDPR article 17 (1) b.
          </p>
          <h4>2.1.2 Purposes</h4>
          <p>Your personal data mentioned in 2.1 is processed for the following purposes:</p>
          <ul>
            <li>
              <strong>To manage your account:</strong> to manage your registration as a user of the
              game. The personal data you provide can give you access to different functionalities
              of the game that are only available to you as a registered user, such as the
              leaderboard.
            </li>
            <li>
              <strong>To run the leaderboard function of the game:</strong> The leaderboard provides
              you with a list of the top players in the game. The personal data you provide can
              give you access to this function.
            </li>
            <li>
              <strong>To provide and maintain our service:</strong> To monitor the usage of our
              service, to detect and prevent any unauthorized use of our service, and to respond to
              any claims you may have.
            </li>
            <li>
              <strong>To contact you:</strong> To contact you by email regarding updates or
              informative communications related to the functionalities of the game. Your email may
              also be used to provide you with news and relevant information about the game that you
              may find interesting as a user of the game. You will only receive this information if
              you have given your consent.
            </li>
            <li>
              <strong>To manage your requests:</strong> To manage your requests, for example when
              claiming your rights.
            </li>
          </ul>
          <h3>2.2 Technical information and usage data</h3>
          <p>The technical information and usage data we process can be categorised as follows:</p>
          <ul>
            <li>
              <strong>Log data:</strong> This is information that your device sends us when using the
              website, such as your device's internet protocol address (e.g. IP address), browser
              type, browser version, the pages of our website that you visit, the time and date of
              your visit, country, and time spent on the website.
            </li>
            <li>
              <strong>User equipment:</strong> Information regarding your device (mobile, computer
              etc.), operating systems, the type of mobile internet browsers you use, unique
              identifiers and other diagnostic data.
            </li>
          </ul>
          <p>
            We use cookies and similar tracking technologies to track user activity on our website
            and to store certain information. Tracking technologies such as beacons, tags, and
            scripts are also used, with the purpose of collecting and tracking information, as well
            as to improve and analyze our website. This data is collected automatically when using
            the website. The tracking technologies used includes:
          </p>
          <ul>
            <li>
              <strong>Cookies or browser cookies:</strong> A cookie is a small file placed on your
              device. You can instruct your browser to refuse all cookies or to indicate when a
              cookie is being sent. However, if you do not accept cookies, you may not be able to
              use some parts of our website. Unless you have adjusted your browser setting so that
              it will refuse cookies, our service may use cookies.
            </li>
            <li>
              <strong>Web beacons:</strong> Certain sections of our website and our emails may
              contain small electronic files known as web beacons (also referred to as clear gifs,
              pixel tags, and single-pixel gifs) that allows us, for example, to count users who
              have visited those pages or opened an email and for other related website statistics
              (for example, recording the popularity of a certain section and verifying system and
              server integrity).
            </li>
          </ul>
          <p>
            Cookies can be "persistent" or "session" cookies. Persistent cookies remain on your
            personal computer or mobile device when you go offline, while session cookies are
            deleted as soon as you close your web browser. We use both session and persistent
            cookies for the purposes set out below:
          </p>
          <ul>
            <li>
              <strong>Necessary / essential cookies (session cookies):</strong> These cookies are
              essential to provide you with services available through the website and to enable you
              to use some of its features. They help to authenticate users and prevent fraudulent
              use of user accounts. Without these cookies, the services that you have asked for
              annot be provided, and we only use these cookies to provide you with these services.
            </li>
            <li>
              <strong>Cookies Policy (persistent cookies):</strong> These cookies identify if users
              have accepted the use of cookies on the website.
            </li>
            <li>
              <strong>Functionality cookies (persistent cookies):</strong> These cookies allow us to
              remember choices you make when you use the website, such as remembering your login
              details or language preference. The purpose of these cookies is to provide you with a
              more personal experience and to avoid you having to re-enter your preferences every
              time you use the website.
            </li>
          </ul>
          <p>
            For more information about the cookies we use and your choices regarding cookies, please
            visit our Cookies Policy or the Cookies section of our Privacy Policy.
          </p>
          <h3>2.3 Third-party social media services</h3>
          <p>
            The website allows you to create an account and log in to use the service through the
            following third-party social media services:
          </p>
          <ul>
            <li>
              <strong>Google</strong>
            </li>
            <li>
              <strong>GitHub</strong>
            </li>
          </ul>
          <p>
            If you decide to register through a third-party social media service, we may collect
            personal data that is already associated with your third-party social media service's
            account, such as your name, your email address, and your activities.
          </p>
          <br />
          <h2>3. Retention of your personal data</h2>
          <p>
            Your personal data will only be saved for as long as is necessary for the purposes set
            out in this privacy policy. Where our legal ground for processing your personal data is
            your consent, we will only save this personal data as long as your consent is given and
            valid. We can also retain and use your personal data to the extent necessary to comply
            with legal obligations (for example, if we are required to retain your data to comply
            with applicable laws), resolve disputes, and enforce our legal agreements and policies.
            The Company will also retain Usage Data for internal analysis purposes. Usage Data is
            generally retained for a shorter period of time, except when this data is used to
            strengthen the security or to improve the functionality of Our Service, or We are
            legally obligated to retain this data for longer time periods.
          </p>
          <br />
          <h2>4. Your rights</h2>
          <p>The data protection legislation provides you several rights. This includes:</p>
          <ul>
            <li>
              <strong>A right to access after GDPR article 15:</strong> This includes access to the
              personal data processed and information about amongst other things the purposes, the
              categories of personal data processed, and the recipients or categories of recipient
              to whom the personal data have been or will be disclosed.
            </li>
            <li>
              <strong>A right to rectification after GDPR article 16:</strong> This right includes
              a right to either supply or correct information that you mean is wrong or incomplete.
              We have a duty to make sure your personal data is correct.
            </li>
            <li>
              <strong>A right to erasure after GDPR article 17:</strong>You have a right to have
              your personal data deleted in certain situations, for example if you withdraw your
              consent or if we no longer have legal grounds for the processing of your personal
              data.
            </li>
            <li>
              <strong>A right to restriction of processing after GDPR article 18:</strong> In some
              situations you can ask us to restrict your personal data, for example if the accuracy
              of the personal data is contested by the data subject, for a period enabling the
              controller to verify the accuracy of the personal data
            </li>
            <li>
              <strong>A right to data portability after GDPR article 20:</strong> You have the right
              to receive your personal data in a machine-readable format.
            </li>
            <li>
              A right to object to the processing of your personal data in certain situations, and
              the right to object to profiling and automated decision-making according to GDPR
              article 21 and 22.
            </li>
            <li>
              A right to complain to the Norwegian Data Protection Authority if you believe we are
              not practising the applicable legislation in the right way.
            </li>
            <li>
              You can read more detailed information about your rights on the websites to <a href="https://www.datatilsynet.no/">The
            Norwegian Data Protection Authority</a>
          </li>
        </ul>
        <br />
        <h2>5. Contact and changes in this privacy policy</h2>
        <p>
          There may occur a need to update this privacy policy. In that case, the updated version will
          be available on this page as soon as possible.
        </p>
        <p>
          If you have any questions about this privacy policy, please contact the data controller by
          emailing <a href="mailto:william@williamholtsdalen.com">william@williamholtsdalen.com</a>.
        </p>
      </div>
    </div>
  </div>
</main>
{% include "landing_page/footer.html" %}
{% endblock body %}
