{% extends "../base.html" %}

{% load static i18n %}

{% block title %}
  Privacy Policy
{% endblock title %}
{% block page_css %}
  <link href="{% static 'css/privacy_policy.css' %}" rel="stylesheet" />
  <link href="{% static 'css/navbar.css' %}" rel="stylesheet" />
  <link href="{% static 'css/footer.css' %}" rel="stylesheet" />
{% endblock page_css %}
{% block body %}
  <!-- Navbar -->
  {% include "landing_page/navbar.html" %}
  <main>
    <div class="container-fluid page-container">
      <div class="row hero-section">
        <div class="col hero-content">
          <h1>Privacy Policy</h1>
          <p>
            At Guess The Race Track, accessible from <a href="https://guesstheracetrack.com">https://guesstheracetrack.com</a>, one of
            our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by Guess The Race Track and how we use it.
          </p>
        </div>
      </div>
    </div>
  </main>
  {% include "landing_page/footer.html" %}
{% endblock body %}
