{% extends "../base.html" %}

{% load static i18n %}

{% block title %}
  {{ track.name }}
{% endblock title %}
{% block page_css %}
  <link href="{% static 'css/famous_tracks.css' %}" rel="stylesheet" />
{% endblock page_css %}
{% block content %}
  <div class="container content-container">
    <div class="row">
      <div class="col ms-5 mt-5 quiz-card">
        <!-- Track image -->
        <div class="row">
          <img class="image-fluid track-image"
               src=" {% for track in track_list %} {% if track.pk == correct_track_pk %}{{ track.image.url }}{% endif %} {% endfor %} "
               alt="" />
        </div>
        <!-- Text below image & round info -->
        <div class="row ms-5 mt-5">
          <div class="col">
            <h2>Which track is this?</h2>
          </div>
          <div class="col ">
            <span class="round-info badge">Round {{ current_round }} / {{ number_of_rounds }}</span>
          </div>
        </div>
        <form action="{% url 'games:famous_tracks' %}" method="post">
          <div class="row ms-5 mt-1 track-choices-row">
            {% csrf_token %}
            <div class="col track-choices-col">
              {% for track in track_list %}
                <div class="form-check">
                  <input required
                         class="form-check-input"
                         type="radio"
                         name="track"
                         id="{{ track.pk }}"
                         value="{{ track.pk }}" />
                  <label class="form-check-label" for="{{ track.pk }}">
                    <p class="track-name">{{ track.name }}</p>
                  </label>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class="row ms-5 mt-3 button-row">
            <div class="col-auto text-end">
              <a href="#" class="invisible btn btn-previous">Previous</a>
            </div>
            <div class="col text-start">
              <button type="submit" class="btn btn-submit mb-3">Submit</button>
            </div>
          </div>
        </form>
      </div>
      <!-- Overview card -->
      <div class="col-3 overview-card ms-5 mt-5 me-5">
        <div class="row m-0 py-5 pt-4 container-fluid d-flex flex-column h-100">
          <div class="col d-flex flex-column justify-content-between">
            <!-- Card header -->
            <div class="row overview-row">
              <h2 class="overview overview-header">Overview</h2>
            </div>
            {% for round, score in rounds.items %}
              <div class="row align-items-center overview-row">
                <div class="col">
                  <p class="overview">Round {{ round }}</p>
                </div>
                <div class="col round-status">
                  <svg xmlns="http://www.w3.org/2000/svg"
                       width="30"
                       height="30"
                       {% if score == 1 %} class="bi bi-circle bi-circle-correct" {% elif score == -1 %} class="bi bi-circle bi-circle-wrong" {% else %} class="bi bi-circle" {% endif %}
                       viewBox="-1 0 19 15">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                  </svg>
                </div>
              </div>
            {% endfor %}
            <div class="row session-controls d-flex justify-content-evenly ">
              <div class="col-auto">
                <a href="{% url 'games:restart_famous_tracks_session' %}"
                   class="btn btn-primary btn-submit">Restart</a>
              </div>
              <div class="col-auto">
                <a href="{% url 'games:famous_tracks_quit_session' %}"
                   class="btn btn-danger">Quit</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
