{% extends "../games/game_base.html" %}

{% load static i18n %}

{% block game_css %}
  <link href="{% static 'css/famous_tracks.css' %}" rel="stylesheet" />
{% endblock game_css %}
{% block track_image %}
  <img class="track-image"
       src=" {% for track in track_list %} {% if track.pk == correct_track_pk %}{{ track.image.url }}{% endif %} {% endfor %} "
       alt="" />
{% endblock track_image %}
{% block game_script %}
  <script>
    function submitForm() {
      const form = document.getElementById('track-choice-form');
      form.submit();
    }
  </script>
{% endblock game_script %}
