{% extends "../base.html" %}

{% load static i18n %}

{% block title %}
  {{ track.name }}
{% endblock title %}
{% block page_css %}
  <link href="{% static 'css/session_complete.css' %}" rel="stylesheet" />
{% endblock page_css %}
{% block content %}
  <div class="container content-container overflow-scroll">
    <div class="row m-5 d-flex flex-column">
      <div class="col">
        <div class="row">
          <div class="col">
            <div class="row m-0 pt-4">
              <h1>Session complete!</h1>
              <h3>Total score: {{ total_score }}</h3>
            </div>
            <div class="row my-5">
              <div class="col d-flex flex-column justify-content-evenly">
                <ol class="list-group list-group-numbered">
                  {% for round_number, round_data in rounds.items %}
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold">{{ round_data.track_name }}</div>
                        <span class="text-secondary">Your answer:</span> <span class="{% if round_data.score >= 1 %}text-success {% else %}text-danger{% endif %}"> {{ round_data.submitted_track }}</span>
                      </div>
                      <span class="badge rounded-pill {% if round_data.score >= 1 %} text-bg-success {% elif round_data.score == -1 %} text-bg-danger {% endif %}">Score:
                        {% if round_data.score < 0 %}
                          0
                        {% else %}
                          {{ round_data.score }}
                        {% endif %}
                      </span>
                    </li>
                  {% endfor %}
                </ol>
              </div>
            </div>
            <div class="row d-flex justify-content-evenly">
              <div class="col-auto">
                <a href="{% url 'games:home' %}" class="btn btn-secondary">Home</a>
              </div>
              <div class="col-auto">
                <a href="{% url 'games:start_session' game_type %}"
                   class="btn btn-primary">Play again</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
